.home {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(~@/assets/img/index/Home/home_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.home .choose-box .greeting-banner {
    cursor: default;

    font-family: "STZhongsong", "STHeiti", serif;
    font-size: 25px;
    color: #fff;
    text-shadow: 4px 4px 4px #000000;
}

.home .choose-box {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, .55);
    border: 10px;
    padding: 20px 50px;
    border-radius: 25px;
}

.home .choose-box .choose-area {

}

.home .choose-box .choose-area .choose-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 400px;
    height: 50px;
    color: #fff;
    background: linear-gradient(120deg, #7eec7d 0%, #9c7ae3 100%);
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}
