<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.groupofseven.questionaresystem.datamapper.QuestionareMapper">
  <resultMap id="BaseResultMap" type="cn.groupofseven.questionaresystem.po.Questionare">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="title_of_qn" jdbcType="VARCHAR" property="titleOfQn" />
    <result column="is_draft" jdbcType="BIT" property="isDraft" />
    <result column="num_of_questions" jdbcType="INTEGER" property="numOfQuestions" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_user_id, title_of_qn, is_draft, num_of_questions, create_time
  </sql>
  <select id="selectDraftByUserId" parameterType="java.lang.Integer" resultType="BaseResultMap">
    select q.id,create_user_id,title_of_qn,is_draft,num_of_questions,create_time
    from questionaredb.questionare q
    where is_draft = 1
    group by q.id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questionaredb.questionare
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionaredb.questionare
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.groupofseven.questionaresystem.po.Questionare">
    insert into questionaredb.questionare (id, create_user_id, title_of_qn,
      is_draft, num_of_questions, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{titleOfQn,jdbcType=VARCHAR}, 
      #{isDraft,jdbcType=BIT}, #{numOfQuestions,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.groupofseven.questionaresystem.po.Questionare">
    insert into questionaredb.questionare
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="titleOfQn != null">
        title_of_qn,
      </if>
      <if test="isDraft != null">
        is_draft,
      </if>
      <if test="numOfQuestions != null">
        num_of_questions,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="titleOfQn != null">
        #{titleOfQn,jdbcType=VARCHAR},
      </if>
      <if test="isDraft != null">
        #{isDraft,jdbcType=BIT},
      </if>
      <if test="numOfQuestions != null">
        #{numOfQuestions,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.groupofseven.questionaresystem.po.Questionare">
    update questionaredb.questionare
    <set>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="titleOfQn != null">
        title_of_qn = #{titleOfQn,jdbcType=VARCHAR},
      </if>
      <if test="isDraft != null">
        is_draft = #{isDraft,jdbcType=BIT},
      </if>
      <if test="numOfQuestions != null">
        num_of_questions = #{numOfQuestions,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.groupofseven.questionaresystem.po.Questionare">
    update questionaredb.questionare
    set create_user_id = #{createUserId,jdbcType=INTEGER},
      title_of_qn = #{titleOfQn,jdbcType=VARCHAR},
      is_draft = #{isDraft,jdbcType=BIT},
      num_of_questions = #{numOfQuestions,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from questionare
    where title_of_qn = #{title,jdbcType=VARCHAR}
  </select>
  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from questionare
    where create_user_id = #{uid,jdbcType=INTEGER}
  </select>
</mapper>